{% extends 'layout.html' %}

{% block title %}Início - Sobre Mim{% endblock %}

{% block content %}
    <h2>Sobre Mim</h2>
    <p>Olá! Seja bem-vindo ao meu site pessoal. Este espaço foi criado para compartilhar um pouco da minha trajetória, gostos e planos para o futuro.</p>
    
    <h2>O que eu gosto de fazer</h2>
    <ul>
        <li>Desenvolver sistemas e aprender novas tecnologias.</li>
        <li>Ler livros de ficção e desenvolvimento pessoal.</li>
        <li>Tomar um bom café enquanto programo.</li>
        <li>Viajar e conhecer novos lugares e culturas.</li>
    </ul>
{% endblock %}
